body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   


}
h1{
font-size: 50px;
line-height: 64px;
color: #222;
}
h2{
    font-size:46px ;
    line-height:54px ;
    color: #222;
}

h4{
font-size: 20px;
color: #222;
}

h6{
font-weight: 700px;
font-size: 12px;
}
p{
font-size: 16px;
color: #455b52;
margin: 15px 0 20px 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav ul li{
    padding: 0 15px;
    list-style-type: none;
    position: relative;
}
.nav ul li a{
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav ul li a:hover,
.nav ul li a.active{
    color: #186F65;
}
.nav li a :hover::after{
    content: "";
    width: 30%;
    height: 4px;
    border-color:#186F65 ;
    position: absolute;
    bottom: -5px;
    left: 20px;
}
#hero{
   
    padding: 0px;
    background-color: #E3E6F3;
    padding: 0px 80px;
    height: 80vh;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
  background-image: url("back.jpeg");
  background-position: top 2% left 30%;
  background-repeat: no-repeat;

}
#hero h4{
    margin-bottom: -10px;
}
#hero h1{
    color: #088178;
    margin-bottom: -10px;
}
#hero h2{
    
    margin-bottom: -10px;
}
#hero button{
    height: 48px;
    background-color: #87C4FF;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    transition: 0.3s ease;
}
#hero button:hover{
background-color: #F7EFE5;
color: #87C4FF;
}
#cards{
    width: 100%;
    height: 400px;
}
.fetere-box{
    margin-top: 30px;
    padding: 22px 80px;
}
.free{
    width: 120px;
    height: 100px;
}
.free-ship{
   
    height: 160px;
    width: 140px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
}
.free-ship button{
    margin-top: 12px;
    padding: 7px;
    border: none;
   
    background-color: #8DDFCB;
    border-radius: 4px;
    transition: 0.3s ease;

}
.free-ship button:hover{
   background-color: #A7FFE4;
}
.online-oder{
    height: 160px;
    width: 140px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
}
.online-oder button{
    margin-top: 12px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;
    background-color: #A2C579;
}
.online-oder button:hover{
    background-color: #D2DE32;

}
.save-moeny{
    height: 160px;
    width: 140px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
}
.save-moeny button{
    margin-top: 12px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;

    background-color: #818FB4;

}
.save-moeny button:hover{
    background-color: #435585;
}
.happy{
    height: 160px;
    width: 140px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
}
.happy button{
    margin-top: 12px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;
    background-color: #D0A2F7;
}
.happy button:hover{
    background-color: #DCBFFF;
}
.support{
    height: 160px;
    width: 140px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
}
.support button{
    margin-top: 12px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;
    background-color: #F5E8C7;

}
.support button:hover{
    background-color: #FFEED9;
}
.fetere-box{
    display: flex;
    justify-content: space-around;
}
#cards h1{
    text-align: center;
}
#cards p{
    text-align: center;
    margin-top: -14px;
}

